@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    font-family: "PT sans";
    background-color: hsl(40, 17%, 86%);
    margin: 0;
}

/*....navbar....*/
#navbar{
    padding: 0;
}
ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #bcad95;
    
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #ab7d41;
}



/*....home....*/
#home {
    text-align: center;
    display: block;
    background-image: linear-gradient(
        rgba(118, 16, 16, 0),
        rgba(99, 8, 8, 0.441)
      ),url(artsy01.jpg);
    background-position: center;
    color: rgb(242, 231, 231);
    height: 200px;
    font-size: 20px;
    text-shadow: 3px 3px 6px rgba(49, 6, 6, 0.5);
}

#main-tittle{
    font-family: "Bonheur Royale", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 0px;www
    text-shadow: 3px 3px 6px rgba(246, 241, 241, 0.5);
}



/*....about....*/

#about{
    display: block;
    padding: 25px;
    background-color: white;
}

/*....footer....*/

footer{
    display: block;
    background-color: white;
    text-align: center;
}

